<div class="flex">
  <div class="fixed top-0 dark:bg-slate-800 w-screen h-14 grid grid-cols-3">
    <div class="items-center justify-start flex">
      <button
        *ngIf="displayBackButton"
        class="rounded-full w-fit px-4 ml-5 bg-cyan-600 text-white"
        (click)="navigateToWelcomePage()"
      >
        <span class="back-icon">&#8592;</span> Back
      </button>
    </div>

    <div class="items-center justify-center flex">
      <p class="italic align-center dark:text-white mb-0">JHOOM</p>
    </div>
  </div>
  <div
    class="toast-container position-fixed top-17.5 end-0 p-3"
    aria-live="polite"
    aria-atomic="true"
  >
    <div
      *ngFor="let toast of toasts; let i = index"
      class="toast fade"
      [ngClass]="{ show: toast.show }"
      role="alert"
      aria-live="assertive"
      aria-atomic="true"
    >
      <div class="toast-header">
        <strong class="me-auto">{{ toast.title }}</strong>
        <button
          type="button"
          class="btn-close"
          aria-label="Close"
          (click)="removeToast(i)"
        ></button>
      </div>
      <div class="toast-body">
        {{ toast.message }}
      </div>
    </div>
  </div>
  <router-outlet></router-outlet>
  <div class="fixed dark:bg-slate-800 bottom-0 w-screen h-14 grid grid-cols-1">
    <div class="items-center justify-center flex">
      <p class="italic text-white">Made by Pulkit Chaudhari |</p>
      <p
        class="italic text-white dark:text-white ml-2"
        style="display: flex; gap: 5px; align-items: center"
      >
        <a
          target="_blank"
          class="italic text-white text-decoration-none"
          href="https://www.linkedin.com/in/pc1201/"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="white"
          >
            <path
              d="M19 0h-14c-2.76 0-5 2.24-5 5v14c0 2.76 2.24 5 5 5h14c2.76 0 5-2.24 5-5v-14c0-2.76-2.24-5-5-5zm-11 19h-3v-10h3v10zm-1.5-11.28c-.97 0-1.75-.78-1.75-1.72s.78-1.72 1.75-1.72 1.75.78 1.75 1.72-.78 1.72-1.75 1.72zm13.5 11.28h-3v-5.6c0-1.34-.02-3.06-1.86-3.06-1.86 0-2.14 1.45-2.14 2.96v5.7h-3v-10h2.88v1.36h.04c.4-.76 1.36-1.56 2.8-1.56 2.99 0 3.54 1.97 3.54 4.53v5.67z"
            />
          </svg>
        </a>
        |
      </p>
      <p
        class="italic text-white ml-2"
        style="display: flex; gap: 5px; align-items: center"
      >
        <a
          target="_blank"
          href="mailto:pulkitchaudhari@gmail.com"
          style="display: flex; justify-content: center; align-items: center"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            fill="white"
            class="bi bi-envelope-at"
            viewBox="0 0 16 16"
          >
            <path
              d="M2 2a2 2 0 0 0-2 2v8.01A2 2 0 0 0 2 14h5.5a.5.5 0 0 0 0-1H2a1 1 0 0 1-.966-.741l5.64-3.471L8 9.583l7-4.2V8.5a.5.5 0 0 0 1 0V4a2 2 0 0 0-2-2zm3.708 6.208L1 11.105V5.383zM1 4.217V4a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v.217l-7 4.2z"
            />
            <path
              d="M14.247 14.269c1.01 0 1.587-.857 1.587-2.025v-.21C15.834 10.43 14.64 9 12.52 9h-.035C10.42 9 9 10.36 9 12.432v.214C9 14.82 10.438 16 12.358 16h.044c.594 0 1.018-.074 1.237-.175v-.73c-.245.11-.673.18-1.18.18h-.044c-1.334 0-2.571-.788-2.571-2.655v-.157c0-1.657 1.058-2.724 2.64-2.724h.04c1.535 0 2.484 1.05 2.484 2.326v.118c0 .975-.324 1.39-.639 1.39-.232 0-.41-.148-.41-.42v-2.19h-.906v.569h-.03c-.084-.298-.368-.63-.954-.63-.778 0-1.259.555-1.259 1.4v.528c0 .892.49 1.434 1.26 1.434.471 0 .896-.227 1.014-.643h.043c.118.42.617.648 1.12.648m-2.453-1.588v-.227c0-.546.227-.791.573-.791.297 0 .572.192.572.708v.367c0 .573-.253.744-.564.744-.354 0-.581-.215-.581-.8Z"
            />
          </svg>
        </a>
      </p>
    </div>
  </div>
</div>
