<div class="dark:bg-slate-200 w-screen h-screen align-middle flex">
  <div class="flex items-center justify-center h-full w-full flex-col">
    <div class="flex flex-col gap-3">
      <input
        class="form-control"
        type="text"
        placeholder="Room ID"
        [(ngModel)]="roomId"
      />
      <a>
        <button class="btn btn-success w-full" (click)="joinRoom()">
          Join
        </button>
      </a>
      <span class="mt-2 text-center">OR</span>
      <div class="flex flex-col gap-3 mt-1">
        <a>
          <button class="btn btn-success w-full" (click)="createRoom()">
            Create a room
          </button>
        </a>
      </div>
    </div>
  </div>
</div>

<!-- <div class="toast" role="alert" aria-live="assertive" aria-atomic="true">
  <div class="toast-header">
    <strong class="me-auto">Bootstrap</strong>
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="toast"
      aria-label="Close"
    ></button>
  </div>
  <div class="toast-body">Hello, world! This is a toast message.</div>
</div> -->

<div
  aria-live="polite"
  aria-atomic="true"
  class="bg-dark position-relative bd-example-toasts"
>
  <div class="toast-container position-absolute p-3" id="toastPlacement">
    <div class="toast">
      <div class="toast-header">
        <strong class="me-auto">Bootstrap</strong>
        <small>11 mins ago</small>
      </div>
      <div class="toast-body">Hello, world! This is a toast message.</div>
    </div>
  </div>
</div>
