.selected-span {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.25rem;
  color: rgb(255 255 255);
  padding: 3px 6px 3px 6px;
  background-color: green;
}

.unselected-span {
  display: flex;
  color: rgb(0, 0, 0);
  justify-content: center;
  align-items: center;
  border-radius: 0.25rem;
  padding: 3px 6px 3px 6px;
}

.toast {
  opacity: 100;
  top: 0;
}
