<div class="justify-center mt-12 h-5/6 w-full flex-col">
  <div class="justify-center w-full h-5/6 flex">
    <div class="bg-cyan-600 w-5/6 h-full rounded-lg shadow-lg"></div>
  </div>
  <input
    class="form-control"
    type="text"
    placeholder="message"
    [(ngModel)]="input"
  />
  <button class="btn btn-success" (click)="sendMessage()">Send</button>
  <div class="content">
    <!-- <div *ngFor="let msg of messageService.msg">
      {{ msg }}
    </div> -->
  </div>

  <div class="flex justify-center mt-5">
    <button
      class="rounded-full w-fit px-4 py-1 ml-5 bg-cyan-600 text-white hover:shadow-lg shadow-md"
    >
      Send
    </button>
  </div>
</div>
